* {
	margin: 0;
	padding: 0;
}
.encabezado {
	width: 100%;
}
/*Esta parte es la del header*/
header{
	width: 100%;
	background: olive;
	height: 70px;
	z-index: 10;
	
}

header a {
    text-decoration: none;
    color: white;
}

nav{
	background: #252932;
	margin-top: 0px;
	
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 00;
	
}
nav >ul >li {
	float: right;

}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 20px;
	font-weight: bold;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
border-radius: 50px;
	
}
nav ul li a:hover{
	background: #CAB412;
}
nav >ul >li:hover div{
	display:table;
}
/*submenu*/
nav ul li div{
	width: 100%;
	position: absolute;
	left: 0;
	background: #ccc;
	box-sizing:border-box;
	display: none;

}
nav ul li div ul{
width: 5%;
display: table-cell;
border-right: 1px solid rgba(255,255,255,.5);
box-sizing:border-box;
}
nav ul li div ul:last-child{
border:none;
}
nav ul li div ul .titulo {
	background: #000;
	color: #fff;
}
nav ul li div ul .titulo a{
	color:#fff;
	padding: 10px 20px;
}
.titulo.azul {background: #3498db;}
.titulo.verde {background: #27ae60;}
.titulo.naranja {background: #e67e22;}
.titulo.rojo {background: #c0392b; color:#000;}
.titulo.marron {background: #8E1A1A;}
.titulo.verdeC {background: #479E98;}
.titulo.morado {background: #90479E;}

nav ul li div ul .titulo a:hover{
	background: none;
}
nav ul li div ul li a{
	color:#000;
}
nav ul li div ul li a:hover{
	color: #fff;
	}

header .LOGO{
	color: olive;
	font-size: 50px;
	line-height: 60px;
	float: left;	
}

/***/

.container {
	max-width: 450px;
	height: auto;
	background-color: olive;
	margin: 5% auto ;
	padding-bottom: 1rem;

}
.from__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem black;
	margin-bottom: 1rem;
}
.from__top h2 {
	font-weight: bold;
	color: #D5A586;
	font-size: 18px
}
h2 span {
	color: #333;
}

p a {
	color: #fff;
	line-height: 15px;
}

.from__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;

}

.input , .btn__submit , .btn__reset {
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #c8c8c8 .2rem;
	transition: all .5s;

}
.input:focus {
	border-bottom: solid #F39B53 .2rem;

}
.btn__submit , .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;

}
.btn__reset {

	background-color: #EDA135;

}
.btn__submit:hover {

	background-color: #4C9ED9;

}
.btn__reset:hover{
	background-color: #FA9535;
}